@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lvfont;
  src: url(./assets/fonts/Intrepid.ttf);
}

:root {
  font-family: lvfont;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: whitesmoke;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 0;
}

h1 {
  font-size: calc(1.375rem + 1.2vw);
}

h2 {
  font-size: calc(1rem + 1.2vw);
}

h3 {
  font-size: calc(0.625rem + 1.2vw);
}

h4 {
  font-size: calc(0.25rem + 1.2vw);
}

h5 {
  font-size: calc(0.1rem + 1.2vw);
}

.special-link {
  position: relative;

  text-decoration: none;
}

.special-link:hover {
  color: #000;
}

.special-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.special-link:hover::before {
  transform: scaleX(1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
